<div class= 'product'>

  <h2> Name: <%=link_to a_product.name, product_path(a_product) %> </h2>
  <h3> Description: <%= a_product.description%> </h3>
  <h5> Date added: <%= a_product.created_at%> </h5>
  <h3> Price: $<%= a_product.price %> </h3>

</div>
